<section class="pre-cabecera py-2">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2">
    <div class="d-flex flex-column flex-md-row gap-3">
      <span class="d-flex align-items-center gap-2">
        <mat-icon fontIcon="place"></mat-icon>
        Mercado Ayaymama · Avícola Pollo Fresco
      </span>
      <span class="d-flex align-items-center gap-2">
        <mat-icon fontIcon="schedule"></mat-icon>
        Lunes a Domingo · 6:00 - 19:00
      </span>
    </div>
    <div class="d-flex align-items-center gap-2">
      <mat-icon fontIcon="call"></mat-icon>
      <span>Pedidos: +51 965 432 100</span>
    </div>
  </div>
</section>
